* {
  background-color: black;
  color: white;
}
.downloadButton {
  background-color: #00ffcc; /* Neon color */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: #282c34; /* Dark text color */
  cursor: pointer;
  transition: background-color 0.3s;
}

.downloadButton:hover {
  background-color: #06d1a9; /* Lighter neon on hover */
}
.textCentre{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 10px;
}
